/*Temp css style code, replace later*/

body {
    /* font-family: 'Times New Roman', Times, serif; */
    /* background-color: lavender; */
    background-color:hsl(0, 0%, 85%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Additional styles*/
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#page-title {
    float: none;
    font-size: 24px;
    top: 25px;
    left: 25%;
    font-family: Helvetica;
}

.container {
    border: 6px solid black;
    background-color: hsl(0, 0%, 100%);
}

.image-container {
    width: 75px;
    height: 75px;
    margin: 0;
    border: 0px;
}

#logo-container {
    position: fixed;
    left: 15px;
    top: 15px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#resources-container {
    width: 890px;
    height: 565.9px;
}

#sidebar-container {
    width: 216px;
    height: 464px;
    margin: 15px;
}
